{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <div id="registration-form-wrapper" class="well">
                {% if form.errors %}
                    <div class="alert alert-danger">
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                {{ error }}{% if not forloop.last %}<br>{% endif %}
                            {% endfor %}
                        {% else %}
                            Обнаружены ошибки в полях формы. Исправьте их и попробуйте снова.
                        {% endif %}
                    </div>
                {% endif %}
                <form method="POST" action='{% url 'main:login' %}'>
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group{% if field.errors %} has-error{% endif %}">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}
                                <p class="help-block">
                                    {% for error in field.errors %}
                                        {{ error }}{% if not forloop.last %}<br>{% endif %}
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-default">Войти</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}