/* Превью */
.stdimage .item-preview {
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
    box-shadow: 1px 1px 3px #808080;
}
.stdimage .item-preview img {
    display: block;
    position: relative;
    max-width: none;
}


/* Чекбокс удаления файла */
.stdimage .delete {
    vertical-align: text-bottom;
    margin: 0 0 0 5px;
}


.stdimage .crop-btn-wraper {
    margin: 4px 0;
}

.hide {
    display: none;
}