.container.page-content {
    min-width: 1170px;
}

#registration-form-wrapper{
    margin-top: 30%;
}

#adverts-left-menu{
    position: fixed;
    min-width: 262px;
}

#adverts-left-menu ul{
    margin-bottom: 20px;
}

#adverts-wrapper {
    padding-top: 20px;
}

#adverts-categories-menu{
    padding: 0;
}

.advert-item {
    margin-bottom: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    border: 1px dashed #999;
}

.advert-item .advert-item-header {
    margin-bottom: 15px;
}

.advert-item .advert-item-header .advert-id h2 {
    margin: 0;
}

.advert-item .advert-item-header .advert-controls {
    text-align: right;
}

.advert-item .advert-photos {
    margin-top: 10px;
    padding: 0 10px;
}

.advert-item .advert-photos .advert-photo-wrapper {
    padding: 0 5px;
    position: relative;
}

.advert-item .advert-photos .advert-photo-wrapper .advert-photo-controls{
    position: absolute;
    top: 1px;
    right: 9px;
    padding: 2px;
}

.advert-item .advert-description {
    margin-bottom: 0;
}

#load-more-button {
    margin-bottom: 20px;
}

.loader {
    position: relative;
}

.loader:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff url("../img/loader-white.gif") no-repeat center;
    opacity: 0.7;
    content: "";
}

.advert-status-change:hover{
    cursor: pointer;
}

.message-box {
    text-align: left;
}