{% extends 'base.html' %}

{% load staticfiles %}

{% block extra_head %}
    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
    <script src="{% static 'adverts_v2/js/adverts-list.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row" id="adverts-wrapper">
        <div class="col-xs-3">
            <div id="adverts-left-menu">
                <ul class="nav nav-pills nav-stacked">
                    {% for value, title, extra, count in statuses %}
                        <li id="menu-status-{{ value }}" data-status-id="{{ value }}"
                            role="presentation"{% if value == status %} class="active"{% endif %}>
                            <a href="{% url extra.url_name current_category.alias %}">{{ extra.name_plural }} <span
                                    class="badge">{{ count }}</span></a>
                        </li>
                    {% endfor %}
                </ul>
                {% if status == 0 %}
                    <a id="bulk-create" role="button" href="{% url 'adverts_v2:bulk-create' current_category.alias %}"
                       class="btn btn-block btn-default">Массовое создание</a>
                {% endif %}
                {% if status == 3 %}
                    <a id="work-complete" role="button" href="{% url 'adverts_v2:work-complete' current_category.alias %}"
                       class="btn btn-block btn-default">Завершить работу</a>
                    <a role="button" href="{% url 'adverts_v2:get-package' current_category.alias %}" class="btn btn-block btn-default"
                       target="_blank">Скачать архив</a>
                {% endif %}
            </div>
        </div>
        <div class="col-xs-9">
            <div class="row">
                <div class="col-xs-12" id="adverts-categories-menu">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                {% for category in categories %}
                                    <a role="button"
                                       class="btn btn-default navbar-btn {% if current_category == category %} active{% endif %}"
                                       href="{% url 'adverts_v2:new-adverts' category.alias %}">{{ category.title }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" id="adverts-list">
                    {{ rendered_adverts_list }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="advert-form-modal" tabindex="-1" role="dialog" aria-labelledby="advert-form-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Редактирование объявления #<span class="advert-identifer"></span></h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <div class="message-box"></div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary advert-save">Сохранить</button>
                    <button type="button" class="btn btn-primary advert-save-and-close">Сохранить и закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="adverts-bulk-create" tabindex="-1" role="dialog" aria-labelledby="adverts-bulk-create">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Массовое создание объявлений</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <div class="message-box"></div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary adverts-create">Создать</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}